<!DOCTYPE html>
<html>

<head>
    <title>Rezultat chestionar</title>
    <link href="./stil.css" rel="stylesheet" type="text/css">

</head>

<body>
    <br>
    <h1>Rezultat chestionar</h1>
        <hr><br>
    <div class="corect">Ați răspuns corect la <%= corecte %> întrebări.</div>
</body>

</html>